/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  header img {
    max-width: 100%;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  /* Main content styles */
  main {
    text-align: center;
    padding: 50px 0;
  }
  
  main button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  main button:hover {
    background-color: #45a049;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
  }
  
  footer h4 {
    margin-bottom: 20px;
  }
  
  footer section {
    margin-bottom: 30px;
  }
  
  .footer-elements {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-elements section {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-elements section:nth-child(2) {
    flex: 2; /* Adjust this to allocate more space for Address section */
  }

  form button {
    display: block;
    margin: 0 auto;
  }

header button {
    border: 1px solid #ccc; /* Border styling */
    padding: 10px 20px; /* Padding around the content */
    border-radius: 5px; /* Rounded corners */
    margin: 30px 5px; /* Add some margin around the button */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
header button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }

  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  