html{
    box-sizing: border-box;
    font-size: 10px;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    display: grid;
    height: 100vh;
    /*grid-template-rows: repeat(3, 1fr);*/
    /*grid-template-rows: 1fr 5fr 1fr;*/
    grid-template-rows: auto 1fr auto;
    padding: 2em;
    font-size: 2em;
}

header{
    background-color: pink;
padding: 2rem;
}

main{
    background-color: aqua;
    display: grid;
    place-items: center;
    padding: 2rem;
}

footer {
background-color: bisque;
padding: 20rem;
font-size: 2em;
}

